/* .picture{
    width: 7em;
    height: 7em;
    border-radius: 1em 1em 2.5em 2.5em;
}

*/.web{
    background-color: #afc;
}

button{
    cursor: pointer;
}
/*
.web{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

.web > h1{

    margin: 2em;
}

.card{
    border:.2em solid#29f;
    background-color: rgb(204, 229, 252);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 20em;
    border-radius: 2em;
}

.card img {
    padding-bottom: 2em;
}
.card h3{
    padding: 1em;
}

.btn{
    width: 10em;
    height: 2em;
    border:.15em solid#29f;
    background-color: rgb(204, 229, 252);
    font-size: 1.5em;
    border-radius: 3em;
    margin: 1.5em;   
    
}

.btn:hover {
    background-color: rgb(19, 29, 38);
    background-color: rgb(19, 29, 38);
    color: rgb(162, 190, 215);
} */